@media (max-width : 1300px) {
 .hamberger-icon{
    display: block;
    z-index: 1122;
   
 }
main{
    grid-column: 1/3;
}
.your-library-song-container{
    height: auto;
}
.seek-bar{
   
   width: 97vw;
    margin-left: 1%;
}
.your-library-song-container ul{
    /* border: 2px solid blue; */
    height: 450px;
    overflow-y: auto;
}
.close-btn{
    display: block;
}
aside{
    position: relative;
    z-index: 200;
    width: 400px;
    height: 82vh;
    transition: all 1s ease-in-out;
    transition-delay: none;
    
    background-color: black;
       left: -200%;
       /* border: 2px solid red; */
    }
    .play-bar-con{
        width: 100vw;
        z-index: 3334;
    }
.play-bar{
    z-index: 4423233;
    right: 30px;
    bottom: 20px;
    background-color: transparent;
 /* overflow: auto; */
   /* overflow-x: hidden;  */
    width: 90%;
    /* border: 2px solid red; */
}
main{
    /* margin-right: 10%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
}




