*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    display: grid;
    /* background-color: black; */
    grid-template-columns: 25vw 75vw;
    grid-template-rows:64px 91.8vh ;
    color: white;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 0/3;
    width: 100vw;
    height: 64px;
    background-color: black;
    color: white;
    /* border:2px solid  ; */
   
}
aside{
    grid-row: 2/3;
    grid-column: 1/2;
    height: 91.8vh;
    width: 25vw;
    /* border: 2px solid blue; */
}
main{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 75vw;
    height: 91.8vh;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left{
    display: flex;
/* border: 2px solid red; */
height: 30px;
color: white;
}
.right{
    display: flex;
/* border: 2px solid rgb(54, 141, 90); */
height: 30px;
}
.your-library-sub-container{
    display: flex;
    justify-content: space-between;
    
}
.add-btn{
    border: none;
    background-color: black;
    color: #929292;
    font-size: 29px;
    padding-right: 20px;
}
.your-library-main-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    height: 100%;
}
.card{
    height: 30%;
    width: 95%;
    border: 2px solid black;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    margin-left: 10px;
    line-height: 2;
    padding: 10px;
}
.card-first-line{
    font-size: large;
}
.card-second-line{
    font-size: 14px;
    color: rgb(240, 239, 239);
}
.card-third-line{
    cursor: pointer;
    border-radius: 50px;
    height: 30px;
    margin-top: 10px;
    width: 120px;
    background-color: white;
    border: none;
    color: black;

}

.tags-row{
    height: 30px;
    width: 100%;
    border: 3px solid green;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    /* border: 3px solid greenyellow; */
}

.main-container{
     width: 100%;
    height:50%;
    border: 5px solid grey;
    background-color: #1a1a1a;
    border-radius: 15px;
    padding: 10px;
}
.icon{
    border-radius: 100%;
    /* background-color: blue; */
    width: 40px;
    cursor: pointer;

}
#search-box{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 32vw;
    border-radius: 50px;
    background-color: #121212;
}
#search-box:hover{
    border: 1px solid lightgray;
    background-color: #444444;
}
.search-bar:hover{
    background-color: #444444;
}
.search-bar{
    width: 27vw;
    height: 32px;
    background-color: black;
    border: none;
    font-size: large;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.install-icon{
    height: 18px;
}

.support-item{
    text-decoration: none;
    color: #929292;
    font-size: 14px;
    padding: 5px;
}

.login-box{
    display: flex;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
}

.log-in{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight:bolder;
    background-color: white;
    width: 110px;
    height: 50px;
}
.playlist-card-container{
    padding: 20px;;
}
.playlist-card{
    height: 269.5px;
    width: 195.5px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    /* padding: 10px; */
    margin: 10px;

}
.playlist-img{
    height: 160px;
    width: 190px;
    border-radius: 3px;
}

.playlist-heading{
    font-size: 16px;
    padding: 5px;
}
.playlist-paragraph{
    font-size: 14px;
    color: #929292;
    padding: 5px;
}