.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.alighn{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.border{
    border: 2px solid red;
    border-radius: 10px;
}
.bg-black{
    background-color: #000000;
}
.bg-grey{
    background-color: #121212;
}
.m-1{
    margin: 0px;
}
.flex{
    display: flex;
}